*{
    margin: 0;
    padding: 0;
}
html{
    font-family: sans-serif;
    font-size: 62.5%;
}

/* REUSABLE */
.container{
    width: 35rem;
    margin: 10rem auto;
    margin-bottom: 0;
}
.none{
    display: none;
}

/* FORM */
.form{
    padding: 3.2rem 4.8rem;
    border-radius: 0.7rem;
    display: flex;
    gap: 2.4rem;
    flex-direction: column;
    align-items: center;
    background-color: #99e9f2;
    box-shadow: 0 0.4rem 0.8rem rgba(0,0,0,0.15);
    transition: all 0.3s;
}

.form:hover{
    transform: translateY(-0.6rem);
    box-shadow: 0 0.6rem 1.6rem rgba(0,0,0,0.18);
}
input{
    padding: 0.4rem 0.8rem;
    font-size: 1.8rem;
    border: none;
    border-radius: 0.3rem;
}
h2{
    font-size: 2rem;
}
.main-h{
    margin-bottom: 2.4rem;
    font-size: 3.2rem;
}
.ip-div{
    display: flex;
    gap: 2.4rem;
    align-items: center;
}
.div-flex{
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}
#Calculate{
    padding: 0.8rem;
    border: none;
    background-color: black;
    color: white;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.3s;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
}
#Calculate:hover{
    background-color: white;
    color: black;
}

/* MESSAGE */
.message-container{
    margin-top: 4rem;
    font-size: 2.4rem;
    text-align: center;
}